! public/
**/public/*
!**/public/t*
!**/public/a*
!**/public/d*
!**/public/x*
!**/public/c*



	app.js
	asa.html
	asd.html
	asx.html
	azz.html
	ccx.html
	dcc.html
	dss.html
	spelt_pancakes.html
	style2.css
	style_button.css
	sxz.html
	xdc.html
	xxs.html
	xza.html
	zaatar.html
	zcd.html


